.main-header {
  height: 520px;
  width: 100%;
  background-color: #c3cae1;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-image: url("../images/3px-tile.png");
}
