nav {
  height: 120px;
  width: 100%;
  background-color: #c3cae1;
  background-image: url("../images/3px-tile.png");
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 1.5em 0 1.5em;
  justify-content: space-between;
  position: fixed;
}

.logo {
  font-family: "Bungee", cursive;
}

.nav-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
