nav {
  height: 120px;
  width: 100%;
  background-color: #c3cae1;
  background-image: url("../images/3px-tile.png");
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 1.5em;
  justify-content: space-between;
  position: fixed;
}

.logo {
  font-family: "Bungee", cursive;
}

.nav-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav i {
  animation: bounce 2s ease infinite;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(20px);
  }
  60% {
    transform: translateY(10px);
  }
}
