.new-tweet {
  padding-bottom: 30px;
}

#tweet-text {
  width: 100%;
  height: 40px;
  background: transparent;
  resize: none;
  border: none;
  border-bottom: 5px solid black;
}

.tweet-label {
  color: black;
  font-weight: bold;
}

.footer {
  font-family: 'Bungee', cursive;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.submit-tweet {
  background-color: #4056A1;
  color: white;
  border: none;
  padding: 5px 15px;
}